.thumbnail {}




.flip3D{
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom:50px;
}

.flip3D > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    border-radius: 7px; 
}

.flip3D > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    color:black;
    
}

.flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

img {
    height: 300px;
    width: 200px;

}

.resize{
    height:100px;
    width:100px;
}

.container {
    margin-bottom: 50px;
}

.body{
    background-color: aliceblue;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}



#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.container {
    
}
    