.thumbnail {}

.flip3D{
    width: 200px;
    height: 300px;
    margin-bottom:50px;
}

.flip3D > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    border-radius: 7px; 
}

.flip3D > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    
}

.flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

img {
    height: 300px;
    width: 200px;

}








