.top_side {
    
}

.middle_side {
    
}

.bottom_side {
    
}

.gallery{
    width:100%;
    height: 300px;
    
}
/*
.gallery:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
*/

.my_pictures {
    width:25%;
}

.container {
    display:flex;
    flex-wrap:wrap; 
}